parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Controllers\\Admin\\SalesController\:\:baseSalesQuery\(\) has parameter \$db with generic class CodeIgniter\\Database\\BaseConnection but does not specify its types\: TConnection, TResult$#'
			identifier: missingType.generics
			count: 1
			path: app/Controllers/Admin/SalesController.php

		-
			message: '#^Property App\\Libraries\\GradeService\:\:\$db with generic class CodeIgniter\\Database\\BaseConnection does not specify its types\: TConnection, TResult$#'
			identifier: missingType.generics
			count: 1
			path: app/Libraries/GradeService.php

		-
			message: '#^Method App\\Libraries\\RecommendationService\:\:ownedProductIds\(\) has parameter \$db with generic class CodeIgniter\\Database\\BaseConnection but does not specify its types\: TConnection, TResult$#'
			identifier: missingType.generics
			count: 1
			path: app/Libraries/RecommendationService.php

		-
			message: '#^Method App\\Libraries\\RecommendationService\:\:preferredCategories\(\) has parameter \$db with generic class CodeIgniter\\Database\\BaseConnection but does not specify its types\: TConnection, TResult$#'
			identifier: missingType.generics
			count: 1
			path: app/Libraries/RecommendationService.php
